src/rem.cpp
src/rem.obj
src/rem.htp
src/rem.exe
src/re.cpp
src/re.obj
src/re.htp
src/re.exe

# ADMB standard output files
*.b0*
*.bar
*.cor
*.cov
*.dep
*.ecm
*.eva
gradient.*
*.hes
*.log
*.mc2
*.mcm
*.p0*
*.psv
*.hst
*.par
*.rep
*.r0*
*.std
*.tmp
*_in.ctl
*_in.dat
variance
sims